.lead{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    margin: 0;
    max-width:calc(984px + 296px);
    padding: 0 148px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width:1170px) {
    .lead{
        padding: 0 48px;
        margin: 0;
        max-width:calc(928px + 96px);
    }
}

@media screen and (max-width: 920px) {
    .lead{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
}

@media screen and (max-width: 705px){
    .lead{
        max-width:100%;
        min-width: 320px;
    }
}