.lead__container{
    margin: 0;
    max-width:calc(984px + 296px);
    padding: 92px 148px 0 148px;
    margin: 0 auto;
}

@media screen and (max-width:1170px) {
    .lead__container{
        padding: 0 48px;
        margin: 0;
        max-width: 1170px;
    }
}

@media screen and (max-width: 920px) {
    .lead__container{
        padding: 0;
        margin: 0;
        max-width: 920px;
    }
}

@media screen and (max-width: 670px){
    .lead__container{
        max-width:620px;
    }
}


